/* mobile & Tablet */
@media (max-width: 1023px){
 .hiden-on-mobile-teblet{
    display: none;
 }
  .fone-mobile-teblet{
        font-size: 22px;
    }
    .endow{
        display: none;
    }
    .slider{
        height: 240px;
    }
    .slider-product-one-all{
        height: 300px;
    }
    .slider button{
        display: none;
    }
}
/*  Tablet */
@media (min-width: 740px) and (max-width: 1023px){
 .hiden-on-tablet{
    display: none;
 }
 .search {
    margin-right: 120px;
}
.search input {
width: 450px;
}
}

/* mobile */
@media (max-width: 739px){
 .hiden-on-mobile{
    display: none;
 }
}

/* pc */
@media (min-width: 1023px){
    .sort-bar-tablet{
        display: none;
    }
}
