@media (min-width: 1024px) {
  .hide-on-pc {
    display: none; } }

/* Mobile-Tablet */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none; }
  .header {
    position: fixed;
    display: block;
    /* z-index: 5; */
    top: 0;
    width: 100%; }
  .header__bannerbar a {
    display: initial; }
  .header__bannerbar-img-table {
    width: 100%;
    height: auto !important;
    vertical-align: middle; }
  .header__navbar {
    justify-content: end; }
  .header__navbar-shopping {
    align-self: center; }
  .section__menu-mob {
    display: block;
    margin-top: 150px !important; }
  .section__menu2-mob {
    display: block; }
  .section__menu-mob-lists {
    display: flex;
    background: var(--whitle-color);
    align-items: center;
    justify-content: center;
    height: 50px;
    overflow: hidden;
    border: 1px solid #ccc; }
  .section__menu-mob-item {
    background: var(--whitle-color);
    max-width: 33.3%;
    vertical-align: center;
    justify-content: center;
    margin: 0 20px;
    border-right: 1px solid #ccc; } }

/* Tablet */
/* Mobile*/
@media (max-width: 739px) {
  .header {
    height: 70px; }
  .hide-on-mobile {
    display: none; }
  .section__menu-mob-lists li {
    display: flex; }
  .tabs__lists {
    overflow-y: auto; }
  .tab__item {
    /* min-width: 35px; */
    font-size: 13px;
    padding: 0; }
  .product__content-items {
    margin: 0 2px; }
  .content__service {
    width: 50% !important;
    border: 1px solid #ccc; }
  @keyframes mobileSearchSideIn {
    from {
      opacity: 0;
      top: calc(var(--header-height) / 2); }
    to {
      opacity: 1;
      top: var(--header-height); } } }

.navbar {
  color: #11006f;
  font-size: 14px;
  font-weight: 600;
  background-image: linear-gradient(#f7dd19, #f3f6e5); }

.endow {
  width: 100%;
  height: 110px;
  display: flex;
  padding: 10px 0px; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-height: 300px; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }

.tab-content {
  overflow: hidden; }

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; }

.card-cad {
  background: white;
  padding: 3em;
  line-height: 1.5em;
  border: none; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.product-title,
.price,
.sizes,
.colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked,
.price span {
  color: #ff9f1a; }

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }

.size:first-of-type {
  margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }

.color:first-of-type {
  margin-left: 20px; }

.add-to-cart {
  width: 200px;
  height: 50px;
  font-size: 15px;
  background: #ff9f1a;
  padding: 1em 3.2em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }

.like {
  width: 150px;
  height: 50px;
  font-size: 15px;
  background: white;
  border: 1px solid black;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: rgba(8, 16, 29, 0.895);
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }

.shop-app {
  text-align: center;
  color: #ff9f1a; }

.add-to-cart:hover,
.like:hover {
  background: #b36800;
  color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }

.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.btn-warning {
  background-image: linear-gradient(#f7dd19, #f3f6e5); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  color: #333;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif; }

.main {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
  justify-content: center; }

.form {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1); }

.form .heading {
  font-size: 2rem; }

.form .desc {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300; }

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column; }

.form-label,
.form-message {
  text-align: left; }

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem; }

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem; }

.form-control:hover {
  border-color: #1dbfaf; }

.form-group.invalid .form-control {
  border-color: #f33a58; }

.form-group.invalid .form-message {
  color: #f33a58; }

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0; }

.form-submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer; }

.form-submit:hover {
  background-color: #1ac7b6; }

.spacer {
  margin-top: 36px; }
