<footer class="bg-info text-white ">
    <div class="container ">
        <div class="row mt-4">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-2">
                <p>“Đặt sự hài lòng của khách hàng là ưu tiên số 1 trong mọi suy nghĩ hành 
                    động của mình” là sứ mệnh, là triết lý, chiến lược... luôn cùng YODY tiến bước"
                </p>
                <p>ĐĂNG KÝ NHẬN THÔNG TIN :</p>
                <p><div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nhập email của bạn" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2">Gửi</span></div>
                </p>
                <p>
                    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/social_1.png?1665829959870" alt="">
                    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/social_2.png?1665829959870" alt="">
                    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/social_3.png?1665829959870" alt="">
                    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/social_4.png?1665829959870" alt="">
                    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/social_5.png?1665829959870" alt="">
                    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/social_6.png?1665829959870" alt="">
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-2">
                <p>VỀ YODY</p>
                 <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Giới thiệu</a>
                </p>
                 <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Liên hệ</a>
                </p>
                 <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Tuyển dụng</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Tin tức</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Hệ thống cửa hàng</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-2">
                 <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Hướng dẫn chọn size</a>
                </p>
                 <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Chính sách khách hàng thân thiết</a>
                </p>
                 <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Chính sách đổi/trả</a>
                </p>
                 <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Chính sách bảo mật</a>
                </p>
                 <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Thanh toán, giao nhận</a>
                </p>
                 <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Chính sách Đồng phục</a>
                </p>
                 <p>
                    <a href="#" class="text-white" style="text-decoration:none;">Chính sách bảo mật thông tin khách hàng</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2">
                 <p><img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/map.svg?1665829959870" alt="">           Công ty cổ phần Thời trang YODY
                    Mã số thuế: 0801206940
                    Địa chỉ: Đường An Định - Phường Việt Hòa - Thành phố Hải Dương - Hải Dương
                </p>
                 <p>
                    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/icon_address.png?1665829959870" alt="">
                    <a href="#" class="text-white" style="text-decoration:none;">Tìm cửa hàng gần bạn nhất</a>
                </p>
                 <p>
                    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/phone.svg?1665829959870" alt="">
                    <a href="#" class="text-white" style="text-decoration:none;">
                        Liên hệ đặt hàng: 024 9996 6868
                        Thắc mắc đơn hàng: 024 9996 6868
                        Góp ý khiếu nại: 1800 2086
                    </a>
                </p>
                 <p>
                    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/email.svg?1665829959870" alt="">
                    <a href="#" class="text-white" style="text-decoration:none;">Email: chamsockhachhang@yody.vn</a>
                </p>
                <p>
                    <a href="#">
                        <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/logo_bct.png?1665829959870" alt="">
                    </a>
                </p>
                <p>
                    <a href="#">
                        <img src="https://images.dmca.com/Badges/_dmca_premi_badge_5.png?ID=d3a2c2c5-a581-451b-b7ff-ff08fee58d6a" alt="">
                    </a>
                </p>
            </div>

        </div>

        <hr class="mb-1">

        <div class="col-lg-12 text-center" >
            <p>@ Bản quyền thuộc về
                <a href="#"><strong class="text-warning">Yody.vn </strong>
                </a>
                 All right reserved
            </p>
        </div>
    </div>
</footer>