<div class="header__navbar">
  <a class="header__bannerbar-item" href="#">
    <img class="header__bannerbar-img hide-on-mobile-tablet" style="width:100%;height:40px" src="/img/bannertop.png" alt="">
    <img class="header__bannerbar-img-table hide-on-pc " src="/img/topbar_mb.png" alt="">
  </a>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand col-2" href="/"><img style="width: 40%;" src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/logo.svg?1666107312720" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-3 mb-lg-0 col-10">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">SALE UP TO 50%</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nữ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trẻ em</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Polo yody</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bộ sưu tập</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quản Lý
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/chi_tiet_san_pham/add">Thêm sản phẩm</a></li>
              <li><a class="dropdown-item" href="/me/store/list">Quản lý sản phẩm</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/">Đăng xuất</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 col-1" size="6" type="search" placeholder="Tìm kiếm" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
  </nav>  

</div>



