<div class="header__navbar">
  <a class="header__bannerbar-item" href="#">
    <img class="header__bannerbar-img hide-on-mobile-tablet " src="/img/bannertop.png" alt="">
    <img class="header__bannerbar-img-table hide-on-pc " src="/img/topbar_mb.png" alt="">
  </a>

  <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">YODY LOGO O DAY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">SALE UP TO 50%</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NỮ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TRẺ EM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">POLO YODY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BỘ SƯU TẬP</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

</div>

