<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">

        </div>

        <div class="col-lg-9">
            <h2>{{sanphams.Name}}</h2>
            <img src="/img/{{sanphams.image}}" alt="">
        </div>
    </div>
</div>